@font-face {
  font-family: neonAbsolute;
  src: url(../font/NEON\ ABSOLUTE\ SANS1.ttf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  margin: 0 auto;
  font-family: sans-serif;
  background-color: #121313;
  color: #ffff;
}

.header-content {
  background-color: #121313;
  margin-left: 195px;
  margin-top: 10px;

  border-radius: 8px 8px 0px 0px;
}

.menu-header-content {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

#arrow-before,
#arrow-next {
  font-size: 2rem;
  color: #989c9f;

  vertical-align: middle;
}

#input {
  color: #f5f5f5;
  background-color: #242c2e;
  height: 45px;
  width: 260px;

  margin: 6px 10px 0px 10px;
  padding: 10px;

  border: 1px solid transparent;
  border-radius: 10px;
  letter-spacing: 2px;

  vertical-align: middle;
}

.icons-header {
  border: none;
  background-color: transparent;
}

.header-icons-menu {
  border: none;
}

#icons {
  font-size: 1.6rem;
  color: #989c9f;

  align-items: center;
  padding: 4px;

  vertical-align: middle;
}

.header-link-signup {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 170px;
  height: 50px;

  vertical-align: middle;
}

.header-link-signup a {
  color: #989c9f;
  font-weight: 600;
}

.header-link-signup a:hover {
  color: #f5f5f5;
}

.link-signup {
  display: flex;
  justify-content: center;
  align-items: center;

  text-decoration: none;
  font-size: 1rem;

  vertical-align: middle;
}

.header-link-login {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #41c9d5;
  width: 170px;
  height: 50px;

  border: 1px solid transparent;
  border-radius: 8px;

  vertical-align: middle;

  color: #f5f5f5;
  font-weight: 600;
}

.header-link-login:hover {
  transform: scale(1.05);
}

.link-signup {
  display: flex;
  justify-content: center;
  align-items: center;

  text-decoration: none;
  font-size: 1rem;

  vertical-align: middle;
}

.link-login {
  display: flex;
  justify-content: center;
  align-items: center;

  text-decoration: none;
  font-size: 1rem;
  color: #f5f5f5;
}

.main-content {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 20px;
  margin-left: 5px;
}

.sidebar-left {
  background-color: #1f1f1f;
  position: fixed;
  top: 0;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  width: 180px;
  max-height: 86%;
  padding: 10px 10px 30px 10px;
  margin-top: 10px;
  margin-left: 5px;

  border-right: 1px solid #2f3336;
  border-radius: 6px;
}

#barraRolagem {
  max-height: 86%;
  overflow-y: hidden;
}

#barraRolagem:hover {
  overflow-y: auto; /* Mostra a barra de rolagem quando o mouse passa sobre o aside */
}

#barraRolagem::-webkit-scrollbar {
  width: 10px;
}

#barraRolagem::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 5px;
}

.sidebar-header {
  width: 100%; /*230px*/
  margin-bottom: 16px;
}

.logo-img-aside-h {
  display: flex;
  justify-content: first baseline;
  align-items: center;

  width: 85px;
  height: 100px;
  margin-left: 28px;

  object-fit: cover;
}

.logo-img-aside-h:hover {
  transform: scale(1.1);
  transition: transform 0.4s;
}

.container-nav-menu {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%; /*230px*/
}

.sidebar-title-menu {
  font-size: 0.92rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: 5px 0px 5px 0px;
  letter-spacing: 1px;
}

.sidebar-buttons-menu {
  background-color: transparent;
  border: 0;
  font-family: inherit;
  color: inherit;
  cursor: pointer;
  text-align: left;
  padding: 0;
}

.span-container-flex {
  /*container do icone e span-2*/
  display: inline-flex;
  align-items: center;
  justify-content: center;

  gap: 12px;
  height: 48px;
  padding: 0 16px 0 12px;
  line-height: 1;
  border-radius: 24px;

  transition: all 0.2s;
}

.span-container-flex:hover {
  background-color: #242c2e;
}

#icon-button-aside {
  position: relative;
  font-size: 1rem;
  color: #989c9f;
  cursor: pointer;
}

.span-button-title {
  font-size: 0.79rem;
  color: #989c9f;
}
.span-button-title:hover {
  color: #41c9d5;
}

.hero-content {
  grid-column: 2 / span 1; /* Conteúdo principal ocupa a segunda coluna */
  grid-template-columns: auto 1fr;

  background-color: #121212;

  margin-top: 10px;
}

.main-principal-content {
  display: flex;
  justify-content: flex-start;
}

.main-principal-content > video {
  height: 312px;
  padding-left: 79px;

  border-radius: 10px;
  overflow: hidden;
  z-index: 2;
}

.main-principal-title {
  display: flex;
  justify-content: left;
  flex-direction: column;

  text-align: left;
  margin-top: 12px;
}

.pricipal-titles-main {
  color: #f5f5f5;
  font-family: neonAbsolute;
  font-size: 2.7rem;
  letter-spacing: 30px;
  width: 280px;

  opacity: 0;
  animation: animacao-texto 3s infinite;
  animation-delay: calc(var(--delay) * 1s);

  text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 40px #41c9d5,
    0 0 80px #41c9d5, 0 0 90px #41c9d5, 0 0 100px #41c9d5, 0 0 150px #41c9d5;
}

@keyframes animacao-texto {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.album-artist-main-content {
  background-color: #1f1f1f;
  padding: 10px 10px 10px 10px;
  margin-top: 40px;
  margin-bottom: 80px;
  width: 95.5%;
  border-radius: 12px;
}

.text-area-albuns {
  display: flex;
  justify-content: space-between;
}

.title-container-albuns h1 {
  font-size: 1.3rem;
  margin: 0px 0px 8px 6px;
}

.link-albuns a {
  text-decoration: none;
  color: #a09999;
  font-size: 0.93rem;
  margin: 0px 0px 8px 6px;
}
.albuns-carousel-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 6px;
}

.albuns-main-carousel a {
  text-decoration: none;
  flex: 0 0 auto;
}

.albuns-main-carousel img {
  height: 125px;
  border-radius: 12px;
  object-fit: cover;
  margin: auto 4px auto 4px;
}

.albuns-main-carousel img:hover {
  transform: scale(1.08);
  transition: transform 0.4s;
  border-radius: 12px;
}

.bio-albuns-main {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 0.89rem;
  color: white;
  letter-spacing: 0.5px;
  gap: 100px;
  margin-top: 8px;
  margin-left: 5px;
}

.aside-rigth {
  display: flex;
  flex-direction: column;
}

.aside-rigth h2 {
  margin-bottom: 10px;
  margin-top: 10px;
}

.genres-list,
.itens-list {
  display: inline-block; /* Para que os itens fiquem em linha */
  margin-right: 6px; /* Adiciona margem à direita de cada item */
  margin-bottom: 10px;
}

.itens-list {
  font-size: 0.9rem;
  text-decoration: none;
  color: #989c9f;

  border: 1px solid transparent;
  background-color: #1f1f1f;
  border-radius: 5px;

  padding: 7px 7px 7px 7px;
  gap: 6px;
}

.itens-list:hover {
  transform: scale(1.2);

  color: #41c9d5;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 0;

  padding: 10px;
  width: 98.5%;

  background: linear-gradient(to right, #ae2a97, #7968cb, #6582e1);
  color: #fff;
  margin: 0px 10px 5px 10px;
}

.footer-text h2 {
  font-size: 0.89rem;
  letter-spacing: 0.89px;
  margin: 2px auto 5px 5px;
}

.footer-text p {
  font-size: 0.89rem;
  letter-spacing: 0.89px;
  margin: 2px auto 5px 5px;
}

.footer-upgrade-plan {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 40px;
  padding: 3px 3px 3px 3px;
  height: 50px;
  width: 160px;
}

.footer-upgrade-plan:hover {
  transform: scale(1.03);
}

.footer-upgrade-plan a {
  text-decoration: none;
  font-size: 0.95rem;
  font-weight: bold;
  color: black;
}
